<div class="row">
    <div class="col-sm-12">
        <h2>Ordner</h2>
        <button class="btn btn-default pull-right" ng-click="showNewDirectory = true">Neuer Ordner</button>
    </div>
</div>

<hr/>

<div class="container-fluid">
    <div class="row">
        <div ng-show="currentFolderPath" class="folder-tile col-lg-2 col-md-3">
            <div class="folder-tile-inner">
                <a ng-href="#{{parentFolderPath}}"><i class="glyphicon glyphicon-level-up"></i> aufwärts</a>
            </div>
        </div>
        <div class="folder-tile col-lg-2 col-md-3" ng-repeat="folderName in folderNames">
            <div class="folder-tile-inner">
                <a ng-href="#{{currentUrl}}/{{folderName | encodeURIComponent}}">{{folderName}}</a>
                <button class="btn btn-danger" ng-click="deleteFolder(folderName)"><i class="glyphicon glyphicon-trash"></i> Ordner löschen</button>
            </div>
        </div>
        <div ng-show="showNewDirectory" class="folder-tile col-lg-2 col-md-3">
            <div class="folder-tile-inner">
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Name des Ordners" ng-model="newDirectoryName" />
                    <button class="btn btn-danger" ng-click="showNewDirectory = false">Abbrechen</button>
                    <button class="btn btn-success" ng-click="saveNewDirectory()">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Bilder</h2>
        <button class="btn btn-default pull-right" ng-click="handleAddImageClicked()"><i class="glyphicon glyphicon-cloud-upload"></i> Bilder hochladen</button>
    </div>
</div>

<gallery images="images"></gallery>