<div class="row">
    <div class="col-sm-12">
        <h2>Ordner</h2>
        <button class="btn btn-default pull-right" ng-click="showNewDirectory = true"><i class="fa fa-folder"></i> Neuer Ordner</button>
    </div>
</div>

<breadcrumbs></breadcrumbs>

<div class="row" context-menu="folderAreaContextMenu">
    <div ng-show="currentFolderPath" class="folder-tile col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="folder-tile-inner">
            <a ng-href="#{{parentFolderPath}}"><i class="glyphicon glyphicon-level-up"></i> aufwärts</a>
        </div>
    </div>
    <div class="folder-tile col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="folderName in folderNames">
        <div class="folder-tile-inner" context-menu="folderContextMenu">
            <a ng-href="#{{currentUrl}}/{{folderName | encodeURIComponent}}">{{folderName}}</a>
        </div>
    </div>
    <div ng-show="showNewDirectory" class="folder-tile col-lg-2 col-md-3 col-sm-4 col-xs-6">
        <div class="folder-tile-inner new-folder">
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Name des Ordners" ng-model="newDirectoryName" />
                <div class="button-row">
                    <button class="btn btn-success" ng-disabled="newDirectoryName == ''" ng-click="saveNewDirectory()"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                    <button class="btn btn-danger" ng-click="showNewDirectory = false"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-sm-12">
        <h2>Bilder</h2>
        <button class="btn btn-default pull-right" ng-click="handleAddImageClicked()"><i class="glyphicon glyphicon-cloud-upload"></i> Bilder hochladen</button>
    </div>
</div>

<gallery images="images"></gallery>