<a class="btn btn-default" ng-show="bulkList.length > 1" href="/#/image/multipleEdit">{{bulkList.length}} Bilder editieren</a>

<div ng-if="images.length > 0" element-marker on-marked="handleSelected(selectedElements)" marker-selector=".image-tile">
    <div class="row">
        <div class="image-tile col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="image in images">
            <div class="image-container" ng-style="{'background-image': 'url(\'./uploads/{{image.path}}/{{image.name}}.{{image.suffix}}\')'}" ng-click="openImageForEdit(image)"></div>
            <div class="checkbox checkbox-primary">
                <input type="checkbox" class="image-checkbox" ng-click="addImageToBulkList(checked, image)" ng-model="checked">
                <label></label>
            </div>
            <span class="image-info"><i class="fa fa-clock-o"></i> {{image.createdAt | date:'dd.MM.yyyy HH:mm:ss'}} Uhr</span>
        </div>
    </div>
</div>