<p>Ordner: {{'./uploads/' + currentFolderPath}}</p>
<div class="upload-area">
    <input style="display:none;" class="file-dialog" type="file" multiple />
    <div class="chosen-files-list">
        <ul>
            <li ng-repeat="file in chosenFiles">{{file.name}}</li>
        </ul>
    </div>
    <button class="btn btn-default choose-images-button">Bilder auswählen ...</button>
    <button class="btn btn-success upload-images-button" ng-disabled="chosenFiles.length == 0"><i class="glyphicon glyphicon-cloud-upload"></i> hochladen</button>
</div>