<h2>Verwaltung</h2>

<management-area data="persons" title="Personen bearbeiten" on-update="updatePerson(item)" on-remove="removePerson(item)"></management-area>
<!--<management-area data="places" title="Orte bearbeiten" template="views/management/places.html" on-update="updatePlace(item)" on-remove="removePlace(item)"></management-area>-->
<!--<management-area data="tags" title="Tags bearbeiten" template="views/management/tags.html" on-update="updateTag(item)" on-remove="removeTag(item)"></management-area>-->