<h2>Bilder suchen</h2>

<search-area title="Bilder" model="models.image" on-area-change="onAreaChange(model, areaRows)"></search-area>
<search-area title="Personen" model="models.person" on-area-change="onAreaChange(model, areaRows)"></search-area>

<div class="button-row">
    <button class="btn btn-success pull-right" ng-click="startSearch()"><i class="fa fa-search"></i> Suche starten</button>
</div>

<div>
    <div ng-pluralize count="results.length" when="{'0': 'Keine Bilder gefunden', 'one': '1 Ergebnis', 'other': '{} Ergebnisse'}"></div>

    <gallery images="results"></gallery>
</div>