<div class="form-group row">
    <div class="col-sm-1 connection-label-container">
        <span class="connection-label">und</span>
    </div>

    <div class="col-sm-3">
        <select class="form-control" ng-model="formData.field" ng-options="field.description for field in model.fields"></select>
    </div>

    <!-- text -->
    <div ng-if="formData.field.type == 'text'">
        <div class="col-sm-2 contains-label">
            enthält <i class="glyphicon glyphicon-info-sign info-icon" uib-tooltip="Es wird geprüft, ob das jeweilige Feld den/die eingegebenen Suchbegriff(e) enthält (keine genau Übereinstimmung)"></i>
        </div>
        <div class="col-sm-5">
            <input type="text" ng-model="formData.text" class="form-control" placeholder="Suchbegriff(e)" />
            <div class="radio-inline radio radio-primary" ng-repeat="operation in operations" ng-show="formData.text.indexOf(',') >= 0">
                <input type="radio" id="{{$id}}" ng-model="formData.operation" value="{{operation.type}}">
                <label for="{{$id}}">{{operation.description}}</label>
            </div>
        </div>
    </div>

    <!-- date -->
    <div ng-if="formData.field.type == 'date'">
        <div class="col-sm-2">
            <select class="form-control" ng-model="formData.date.compareMethod" ng-options="compareMethod.description for compareMethod in compareMethods"></select>
        </div>
        <div class="col-sm-5">
            <p class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="z. B. 03.01.2003"
                       uib-datepicker-popup="dd.MM.yyyy"
                       is-open="calendarOpen"
                       ng-model="formData.date.value"
                       show-button-bar="false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendarOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </p>
        </div>
    </div>

    <div class="col-sm-1">
        <button class="btn btn-danger pull-right" ng-click="removeRow()"><i class="glyphicon glyphicon-minus"></i></button>
    </div>
</div>