<div class="form-group row">
    <div class="col-sm-2">
        <select class="form-control" ng-model="$ctrl.selectedOperation" ng-options="operation for operation in $ctrl.operations"></select>
    </div>
    <div class="col-sm-3">
        <select class="form-control" ng-model="$ctrl.selectedField" ng-options="field.name for field in $ctrl.model.fields"></select>
    </div>
    <div class="col-sm-1">
        enthält
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" />
    </div>
    <div class="col-sm-1">
        <button class="btn btn-block btn-default"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-block btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
    </div>
</div>